* {
    box-sizing: border-box;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    margin: 0;
    height: 60px;
    padding: 10px;
}

.container {
  padding: 16px;
  width: 50%;
  margin: auto;
  margin-top: 100px;
}

/* Full-width input fields */
input[type=text], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  ;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
#submit-button {
  background-color: #04AA6D;
  color: white;
  font-size: larger;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

#submit-button:hover {
  opacity:1;
}

#reset-button {
    background-color: #666666;
    font-size: larger;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  #reset-button:hover {
    opacity:1;
  }
