form {
  align-items: center;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  height: 83vh;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
}

form div input, form div select {
  height: 40px;
  text-align: center;
  border-radius: 10px;
}

form textarea {
  height: 100px;
  resize: none;
  width: 500px;
}

form button {
  width: 200px;
  height: 50px;
}