form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  gap: 10px;
}

form input {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 30px;
  border-radius: 10px;
  width: 500px;
}

form button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}