* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(43, 43, 43);
}
body div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: wheat;
}

form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

form input, form select, form button{
  margin-top: 10px;
  background-color: rgb(82, 82, 82);
  color: white;
  padding: 10px;
}

form button:hover {
  cursor:pointer;
}

#result {
  padding: 10px;
  color: white;
  background-color: rgb(43, 43, 43);
}